body {
  @include font-smoothing;
  font-family: $pluto;
  background-color: $grey--light;
  color: $grey--dark;
}

  .page-container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
  }

  .main-section {
    margin-bottom: 130px;
    > .btn-container {
      margin-top: 60px;
    }
  }

  .cover {
    box-shadow: 0 20px 45px 0 rgba(0,0,0, .2);
    transition: box-shadow .3s ease-in;
    &:hover {
      box-shadow: 0 20px 80px 0 rgba(0,0,0, .3);
    }
  }


  .item-cover {
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 150px;
    height: 150px;
  }

    .item-cover-img {
    }

    .item-cover-day {
      z-index: 20;
      display: block;
      position: absolute;
      top: 0; right: 0; left: 0;
      font-family: $raleway;
      font-size: 70px;
      line-height: 150px;
      letter-spacing: -0.05em;
      text-align: center;
      color: #fff;
    }
    
  .item-details {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    text-align: left;
  }