.col-container {
  font-size: 0;
  text-align: center;
}

  .col2 {
    width: 50%;
    @extend %col;
    // padding-left: 0;
  }

  .col3 {
    @extend %col;
    width: 32%;
    margin-left: 1.5%;

    &:first-child {
      margin-left: 0;
    }
  }